<div class="checkbox">
    <input type="checkbox" id="{{ id }}" name="{{ name | default(id) }}" value="{{ value|default('') }}"
            {{ (disabled is defined and disabled) ? 'disabled' }} {{ (checked is defined and checked) ? 'checked' }}/>
    <label for="{{ id }}">
            {% block labelContent %}
            {% endblock %}
        {{ label | raw }}
    </label>
</div>