{% extends 'Subordinate/layout/layout.html.twig' %}

{% block head_extra_link %}
    <link rel="canonical" href="{{ app.request.uri }}" />
{% endblock %}

{% block content %}
    {% include 'Subordinate/widgets/themes_panel.html.twig' with {
    'title': post.title,
    'subject': post,
    'share': true
    } %}

    <article class="news-alt-wrapper">

        <time class="news-alt-date">{{ post.publishStartDate.date | date("d/m/Y") }} {{ post.publishStartDate.date|date('H:i') }}</time>


        {% set _image = post.heroImage|default(post.image) %}
        {% if _image %}
            <div class="container__full news-image" style="background-image: url('{% path _image, 'thumb1440' %}')"></div>
        {% endif %}

        <section class="news-alt-wrapper__content-wrap">
            <div class="news-alt-wrapper__content">
                <h2 class="news-alt-wrapper__content-lead">{{ post.lead }}</h2>
                {% block sonata_preview %}{% endblock %}
                {{ embed_content(post.content, post) }}
            </div>

            {% if post.attachments and post.attachments is not empty %}
                <h3 class="news-alt-wrapper__tags-title">Прикрепленные материалы</h3>
                <ul class="files__list">
                    {% for file in post.attachments %}
                        <li class="files__list-item">
                            <a class="files__list-item-link" href="{% path file.file, 'reference' %}" target="_blank" title="{{ file.file.name }}">
                                {% thumbnail file.file, 'thumb' %}
                                {{ file.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if post.attachments and post.attachments is not empty %}
                <h3 class="news-wrapper__tags-title">Прикрепленные материалы</h3>
                <ul class="files__list">
                    {% for file in post.attachments %}
                        <li class="files__list-item">
                            <a class="files__list-item-link" href="{% path file.file, 'reference' %}" target="_blank" title="{{ file.file.name }}">
                                {% thumbnail file.file, 'thumb' %}
                                {{ file.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if post.isCommentsOpen %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity_reference(post)} %}
            {% endif %}

            {% include '::/widgets/spotlight/_related.html.twig' with {'item': post} %}

            {{ sonata_block_render({'type': 'news_of_the_day'}) }}
        </section>
    </article>

{% endblock %}
