{% if posts|length > 0 %}
    <div class="day-news day-news_new">
        <div class="day-news__title">
            {{ title|default('Интересное') }}
        </div>
        <div class="new-day-card-list">
            {% for post in posts %}
            <div class="new-day-card-list__slide">
                <a href="{{ entity_path(post) }}" class="new-day-card">
                    <div class="new-day-card__image" style="background-image: url('{% path post.image, 'thumb500' %}');"></div>
                    <div class="new-day-card__content">
                        <div class="new-day-card__info">
                            <time class="new-day-card__date">
                                {{ post.publishStartDate|format_date }}
                            </time>
                            <span class="new-day-card__category">{{ post.category }}</span>
                        </div>
                        <p class="new-day-card__title oasis-container">
                            <span class="oasis-container__text">{{ post.title }}</span>
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
