{% if posts|length > 0 %}
    <div class="day-news">
        <div class="day-news__title">
            {{ title|default('Читайте также') }}
        </div>
        <div class="day-news__list">
            {% for post in posts %}
                <div href="{{ entity_path(post) }}" class="day-news__item-container">
                    <a href="{{ entity_path(post) }}" class="day-news__item">
                        <span class="day-news__item-top">
                            <span class="day-news__item-image" style="background-image: url('{% path post.image, 'thumb300' %}');"></span>
                            <span class="day-news__item-top-content">
                                <span class="day-news__item-subtitle">{{ post.category }}</span>
                                <time class="day-news__item-date">
                                    {{ post.publishStartDate|format_date }} {{ post.publishStartDate|date('H:i') }}
                                </time>
                                <span class="day-news__item-tags">
                                    {% if post.tags | length > 0 %}
                                            #{{ post.tags[0].title |lower |replace({"," : "", "»" : "", "«" : "", " " : "_"}) }}
                                    {% endif %}
                                 </span>
                            </span>
                        </span>
                        <span class="day-news__item-bottom">
                            <span class="day-news__item-title">
                                {{ post.title }}
                            </span>
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
